<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.justmailtoavi.avinashk.utopia">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/utopiaicon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon">


        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>


        <activity
            android:name=".SplasherActivity"
            android:label="@string/title_activity_splasher"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".about_dev"
            android:label="@string/title_activity_about_dev"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".teams_info"
            android:label="@string/title_activity_teams_info"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".t_shirt"
            android:label="@string/title_activity_t_shirt"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".rules"
            android:label="@string/title_activity_rules"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".winner_list"
            android:label="@string/title_activity_winner_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".gallery"
            android:label="Gallery"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>
